.Persik {
  display: block;
  width: 30%;
  max-width: 250px;
  margin: 20px auto;
}
.text {
    text-align:  center;
    color: #000000;
    font-size: 200%;
   }


    .displayed {
        display: block;
        margin-left: auto;
        margin-right: auto }

@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css');
